$main-blue: #0264a3;
$red: #e00101;

.header-top {
    background-color: $main-blue;

    .nav {
        height: 50px;

        &__item {
                margin-right: 60px;
            

            &-link {
                color: white;
                height: 100%;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                border-bottom: 3px solid transparent;

                &:hover {
                    text-decoration: none;
                    border-bottom: 3px solid $red;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

    .test{
        background-color: black;
    }
